*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
footer{
    gap:170px;
    background-color: #006769;
    color: white;
}
.txt1{
    background-color: #f5cfef;
    
}
footer p{
    font-size: 25px;
}
footer h3{
    padding-bottom: 20px;
}
.womens{
    background-color: rgb(211, 206, 255);
}
.txt4{
    font-size: 50px;
}
.image1{
    width: 970px;
   
}
/* Section */
.offerlogo{
    width:50px;
    height:50px;
}
.bslogo{
    width:50px;
    height:50px;
}
.iconcol{
    color:rgb(174, 125, 174);
    
}
.btn{
    background-color:rgb(174, 125, 174);
    color:white;
}
.bodcol{
    border:4px solid plum;
    
}
.pic{
    background-image: url("kidbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    
}
.btn1{
    background-color:rgb(245, 206, 245);
    padding:10px;
    font-weight: bold;
}
/* ------ */
.foot1{
    background-color:#defafb;
}
.foot2{
    background-color: #80cbcd;
}